

/*header*/

.header{
    width: auto;
    height: 100%;
    text-align: center;
    margin: 40px;
}

.header img{
    width: 500px;    
}

.button-color{
    background-color: black;
}

/*button*/

.buttons{
    width: 100%;
    text-align: center;
}

.buttons button{
    margin: 10px 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;    
}

.buttons button:hover{
    background-color: black;
}
/*bitton-tomer*/

.button-timer{
    width: 100%;
    text-align: center;
}

.button-timer button{
    margin: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

/*content*/

.images{
    width: 100%;
    text-align: left;
    display: none;
}

.images img{
    width: 100px;
    margin: 5px;
}
