/*header*/
.single-item{
    text-align: center;
   
}

.header{
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
}

.header img{
    width: 500px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    left: 0;
}

.header .add-opacity{
    opacity: 1;
}

/*button*/

.buttons{
    width: 100%;
    text-align: center;
}

.button-color{
    background-color: black;
}

.buttons button{
    margin: 10px 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;   
}

.buttons button:hover{
    background-color: black;
}

/*bitton-tomer*/

.button-timer{
    width: 100%;
    text-align: center;
}

.button-timer button{
    margin: 10px;
    width: 55px;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

